.header{
    min-height: 69px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-content: center;
    justify-content: space-around;
    padding: 0px 10px;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.logo{
    height: 50px;
}

.nav{
    align-self: center;
    justify-self: end;
}

.nav a {
    padding-right: 1.5em;
}

@media(max-width: 650px){
    .nav{
        display: grid;
        grid-template-areas: 
        "one"
        "two"
        "three"
        ;
        justify-items: start;
        grid-gap: 2.5px;
        margin: 0;
    }
}

