.wrapper{
    display: grid;
    grid-gap: 40px 0px;
    margin-top: 69px;
    justify-items: center;
}

@media(min-width: 769px){
    .body{
        min-width: 1200px;
    }
}

#tom{
    background-color: bisque;
}

#locations{
    background-color: green;
}